// scss 全局变量
/*********** Layout 页面 ***********/
// 菜单栏
$base-menu-width: 260px;
$base-menu-background: #001529;
// logo
$base-logo-height: 50px;
$base-logo-fontSize: 20px;

// 导航栏
$base-tabbar-height: 50px;